
<div class="main">
    <div class="container_2">
       <h1 style="color: blue;"> What is predict?</h1>
        <div class="predictcontent">
            Predict is an online dashboard that helps patients and clinicians to predict the likelihood <br> of developing
            Dengue Hemorrhagic Fever (DHF) using Cytokine parameters.This will help <br> the clinicians to institute 
                appropriate treatment before the patient enters the critical phase.

        </div>
        <button id="startpredictbutton" type="button" class="btn btn-primary"><a href="" style="color: white;">Start predict</a></button>
    </div>
    <div class="container3">
        <img src="assets/img/mainphoto.png" alt="" width="40%">
    </div>
  </div> 
 
  <div class="main2">
      <div class="main2_con1">
        <img src="assets/img/graphicon.png" alt="" style="padding-left: 30%; padding-bottom: 5%;">
          <h2 style="color: blue;">What does predict do?</h2>
          Predict asks some details about patient’s cytokine levels.
           It then uses data about the patients with  Dengue Fever and patients
           with Dengue Hemorrhagic  Fever in the past to show the likely proportion of such a  
           patient who is expected to have severe dengue.


      </div>
      <div class="main2_con2">
          <img src="assets/img/patienticon.png" alt="" style="padding-left: 30%; padding-bottom: 5%;">
            <h2 style="color: blue;">Who is Predict for?
            </h2>
            Predict is for clinicians, patients and their families.
      </div>
      <div class="main2_con2">
        <img src="assets/img/bookicon.png" alt="" style="padding-left: 30%; padding-bottom: 5%;">
          <h2 style="color: blue;">Where can I find out more?
        </h2>
        To read more about predict About Predict
      </div>
  </div>