 /* Container holding the image and the text */
 .main{
    
    color: black;
    margin-top:10%;  

    
    margin-left: 10%;
  }
  .container_2{
    width: 60%;
    font-size: large;
    float: left;
  }
  .container_3{
    width: 30%;
    float: left;
  }

  .predictcontent{
    margin-top:4%;
  }
  #startpredictbutton{
    margin-top: 4%;
    color: black;
  }

  .main2{
    display: block;
    margin-top: 8%;
    
    
  }

  .main2_con1{
    margin-left: 10%;
    float: left;
    width: 25%;
    
  }
  
  .main2_con2{
    float: left;
    margin-left:5%;
    width: 25%;
  }
.main2_con3{
  float: left;
  margin-left: 5%;
  width: 25%;
}