<app-navigation-bar></app-navigation-bar>

<div class="container_guide container  bg-warning text-dark w-50">
    <h3 class="text-center" id>Warning sign to seek immediate medical advice</h3>
    <ul>
        <li class="tips">Continued vomiting and diarrhoea (which can result in
            dehydration)</li>
        <li class="tips">Lethargy/restlessness</li>
        <li class="tips">Bleeding from any site</li>
        <li class="tips">Severe headache</li>
        <li class="tips">Bleeding from any site</li>
      </ul>  
      
</div>

<div class="container_guide1 container  bg-light text-dark w-75">
    <div class="p-3 mb-2 bg-info text-white"><h3 class="text-center" >Advice for Dengue patients who are on home based care temporarily</h3></div>
    
    <ul>
        <li class="tips">Even if you are positive(+) for dengue NS1 antigen test you may not need
            immediate hospitalization.</li>
        <li class="tips">Negative NS1 test does not exclude dengue illness.</li>
        <li class="tips">Home care should be always guided by a qualified doctor.</li>
        <li class="tips">Severe headache</li>
        <li class="tips">Hospital admissions will be determined by platelet count of the latest full blood count (FBC).</li>
      </ul>  
      
      <div class="p-3 mb-2 .bg-light text-dark"><h3 class="text-center" >  <u> Make sure to follow the instructions given below in order to ensure
        smooth home based care during early part of the illness.</u>
        </h3></div>
        <div class="guides2">
            
                <h5> <u>Physical Rest</u> </h5> 
                    <div>Physical rest is highly recommended.
                        Staying at home without exerting yourself is ideal.</div>
                
                <h5 > <u>Fever control</u></h5>
                
                    <ul>
                        <li>Use Paracetamol only. </li>
                        <li>Do not use NSAIDs such as Ibuprofen, Diclofenac,
                            Mefenamic acid, Celecoxib etc.
                            </li>
                        <li>Do not use steroids such as Prednisolone,
                            Dexamethasone etc.</li>
                        <li>Follow your doctor’s instructions on the dose of
                            Paracetamol and fever control</li>
                        <li>Use tepid sponging to bring down the fever in between the Paracetamol dosing.
                        Soak a clean towel in moderately warm water, then squeeze the excess water
                        away and wipe the body to reduce fever</li>
                    </ul> 
                <h5> <u>When and how often should the Full Blood Count (FBC) be repeated?</u> </h5>
                
                    <ul>
                        <li>Do the FBC in 8-12 hour intervals as recommended by your doctor.</li>
                        <li>Do not delay showing the report to your doctor (at least within 2 hours) to get
                            medical advice.</li>
                        <li>If the platelet count has reached a low value nearing 130,000/mm3, see your
                            doctor immediately</li>
                        <li>When you see the doctor, bring all your blood investigation reports done during
                            this fever episode.</li>
                    </ul>
                <h5><u>Food</u></h5> 
              
                <ul>
                    <li>If you have appetite take a soft light diet.</li>
                    <li>Avoid taking red or brown colour food or drinks.
                        This may mimic blood stained stools or vomitus.</li>
                    
                </ul>
                <h5><u>Fluids</u></h5>
                
                <ul>
                    <li>Fluids should include not only water but certain electrolyte solutions such as
                        fruit juice, white rice kanji, “Jeewani”, king coconut etc.</li>
                    <li>Drink enough fluids to maintain a normal urine output. Please follow the
                        instructions below to calculate the required fluid amount.</li>
                    <li>If the body weight is between 30 to 50 kilograms, take fluids double the weight
                        in milliliters (ml) per hour</li>
                    <li>If the weight is below 30kg or above 50 kg, change the fluid intake as shown
                        below:</li>
                        <div style="padding: 3em; text-align: center;">
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>Body weight</th>
                                    <th>Fluid Volume Per Hour</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>5Kg</td>
                                    <td>20ml</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>10Kg</td>
                                    <td>40ml</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>20Kg</td>
                                    <td>60ml</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>30Kg</td>
                                    <td>80ml</td>
                                    
                                  </tr>

                                  <tr>
                                    <td>40Kg</td>
                                    <td>100ml</td>
                                    
                                  </tr>

                                  <tr>
                                    <td>50Kg</td>
                                    <td>120ml</td>
                                    
                                  </tr>

                                </tbody>
                              </table>
                        </div>
                    <li>If there is any doubt on how much fluids to drink please ask your doctor</li>
                    <li>You may use a properly calibrated cup to measure the fluid intake.</li>
                </ul> 
                <h5><u>Urine Output</u></h5>
                
                <ul>
                    <li>Ensure adequate amount of fluids are taken to produce a urine volume per hour in
                        milliliter (ml) equal to your body weight in kilograms to prevent dehydration.
                        </li>
                    <li>Ensure urine measurement at least every four hourly to calculate the output.</li>
                    <div style="padding: 3em; text-align: center;">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Body weight</th>
                                <th>Urine output per hour</th>
                                <th>Urine output per four hours
                                </th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>20kg</td>
                                <td>20ml</td>
                                <td>80ml</td>
                                
                              </tr>
                              <tr>
                                <td>40Kg</td>
                                <td>40ml</td>
                                <td>160ml</td>
                                
                              </tr>
                              <tr>
                                <td>60Kg</td>
                                <td>60ml</td>
                                <td>240ml</td>
                                
                              </tr>


                            </tbody>
                          </table>
                    </div>
                    <li>Passing urine slightly more than the above expected amount is not a problem</li>
                    <li>If the urine output is less than the expected amount, you should consume more fluids
                        to maintain the above urine output.</li>
                    <li>If the patient is feeling thirsty, taking additional fluids up to 3-4 times per day is
                        allowed until the thirst subsides.</li>
                    <li>But if thirst continues, consult your doctor as soon as possible</li>
                </ul> 
            
        </div>
</div>

<div class="container_guide3 container  bg-light text-dark w-75">
    <h3 class="text-center" id>Record all your fluid intake and the amount of urine you passed with the
        time and show your doctor.
        You may use the following format:</h3>
        <div style="padding: 3em; text-align: center;">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Body weight</th>
                    <th>Urine output per hour</th>
                    <th>Urine output per four hours
                    </th>
                    <th>Urine output per hour</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>


                </tbody>
              </table>
        </div>
      
</div>