.tips{
    padding: 2%;
}

.container_guide{
    margin-top: 10%;
    border-radius: 20px;
}

.container_guide1{
    margin-top: 5%;
}


.guides2 li{
    padding: 1em;
}

.subtopics{
    
    font-size: 20px;
}