<div class="main_aboutpredict">
    <div class="container_1">
        <h1 style="padding-bottom: 2%; color: blue;">How predict works</h1>
        Dengue causes considerable morbidity and mortality in Sri Lanka. Inflammatory mediators such as cytokines, contribute <br>
         to its evolution from an asymptotic infection to severe forms of dengue. The majority of previous studies have analysed <br>
         the association of individual cytokines with clinical disease severity. They viewed evolution to Dengue Haemorrhagic Fever <br>
         as the behaviour of a complex dynamic system. They therefore, analysed the combined effect of multiple cytokines that <br> 
          interact dynamically with each other in order to generate a mathematical model to predict occurrence of Dengue Haemorrhagic <br>
          Fever. They expected this to have predictive value in detecting severe cases and improve outcomes. Platelet activating factor <br>
          (PAF), Sphingosine 1- Phosphate (S1P), IL-1β, TNFα and IL-10 are used as the parameters for the model. Hierarchical clustering <br>
          is used to detect factors that correlated with each other. Their interactions are mapped using Fuzzy Logic mechanisms with the <br>
          combination of modified Hamacher and OWA operators. Trapezoidal membership functions are developed for each of the cytokine <br>
          parameters and the degree of unfavourability to attain Dengue Haemorrhagic Fever is measured.
    </div>
    <hr style="width: 60%; height:2px;border-width:0;color:gray;background-color:gray ; ">

    <div class="container_2">
        <h1 style="padding-bottom: 2%; color: blue;">
            Who build the predict
        </h1>
        Development of model was a collaborative project of Research and Development Centre for Mathematical Modelling, University <br>
         of Colombo, Colombo, Sri Lanka, Centre for Dengue Research, Faculty of Medicine, University of Sri Jayewardenepura, Nugegoda, <br>
          Sri Lanka and Department of Clinical Medicine, Faculty of Medicine, University of Colombo, Colombo, Sri Lanka.Development of <br>
          website is a project of Department of mathematics University of Colombo, Sri Lanka.


    </div>
    <hr style="width: 60%; height:2px;border-width:0;color:gray;background-color:gray ; ">
</div>


<div class="main2_main" >
    <div class="main2">
        <div class="main2_con1">
        <img src="assets/img/graphicon.png" alt="" style="padding-left: 30%; padding-bottom: 5%;">
            <h2 style="color: blue;">What does predict do?</h2>
            Predict asks some details about patient’s cytokine levels.
            It then uses data about the patients with  Dengue Fever and patients
            with Dengue Hemorrhagic  Fever in the past to show the likely proportion of such a  
            patient who is expected to have severe dengue.
            <br>

            <button id="startpredictbutton" type="button" class="btn btn-primary"><a href="" style="color: white;">Start predict</a></button>
        </div>

        <div class="main2_con2">
        <img src="assets/img/someonetalk.png" alt="" style="padding-left: 30%; padding-bottom: 5%;">
            <h2 style="color: blue;">Someone to talk to?
        </h2>
        if you are fighting dengui fever, it’s often easier with support. <br>    Here, you can find further information and links.
        <button id="startpredictbutton2" type="button" class="btn btn-primary"><a href="" style="color: white;">Get Support</a></button>
        </div>
    </div>

</div>
