<div class="container1">


  <div class="container containerForm" style="display: block;" [class.onsubmitform]="isSubmit">

    <form #form="ngForm" (ngSubmit)="onsubmit(form)">
      <div class="form-group row " style="padding-top: 5%;">
        <label for="feild1" class="col-sm-2 col-form-label">PAF</label>
        <div class="col-sm-6">
          <input type="number" ngModel name="feild1" class="form-control" id="feild1" placeholder="paf"
            #feild1="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="feild2" class="col-sm-2 col-form-label">TNF-α</label>
        <div class="col-sm-6">
          <input type="number" ngModel name="feild2" class="form-control" id="feild2" placeholder="tnf-α"
            #feild2="ngModel">
        </div>
      </div>


      <div class="form-group row">
        <label for="feild3" class="col-sm-2 col-form-label">IL-10</label>
        <div class="col-sm-6">
          <input type="number" ngModel name="feild3" class="form-control" id="feild3" placeholder="il-10"
            #feild3="ngModel">
        </div>
      </div>


      <div class="form-group row">
        <label for="feild4" class="col-sm-2 col-form-label">IL-1β</label>
        <div class="col-sm-6">
          <input type="number" ngModel name="feild4" class="form-control" id="feild4" placeholder="il-1β"
            #feild4="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="feild5" class="col-sm-2 col-form-label">S1P</label>
        <div class="col-sm-6">
          <input type="number" ngModel name="feild5" class="form-control" id="feild5" placeholder="s1p"
            #feild5="ngModel">
        </div>
      </div>


      <input type="submit" value="Submit" style="height: 48px;" class="btn btn-primary">

      <button (click)="ResetForm(form)" class="btn btn-primary" type="reset" value="Reset"
        style="height: 48px; margin-left: 5%; margin-top: 10%;">

        Reset Form
      </button>
      <div *ngIf="isSubmit"> Unfavourability of attain DHF :{{this.vulnerability}}%</div>
    </form>


  </div>
  <div *ngIf="isSubmit && severbool ">
    <h1>you are in severe (DHF) region</h1>
    <h4 style="float: left; margin-left: 8%;">your level:</h4>
    <div class="circleforseverbool" style=" float: right; margin-top: 2% ;margin-right: 25%;">{{vulnerability}}%

    </div>
   
  </div>
 

  <div *ngIf="isSubmit && notseverbool ">
    <h1>your condition may or may not be sever</h1>
    <h4 style="float: left; margin-left: 5%;">your level:</h4>
    <div class="circlefornotseverbool" style=" float: right; margin-top: 5% ;margin-right: 25%;">{{vulnerability}}%
    </div>
  </div>
  
  <div *ngIf="isSubmit && safebool ">
    <h1>you are in non-severe (DF) region</h1>
    <h4 style="float: left; margin-left: 8%;">your level:</h4>
    <div class="circleforsafebool" style=" float: right; margin-top: 5% ;margin-right: 25%;">{{vulnerability}}%


    </div>
  </div>
  <br>
  <div *ngIf="isSubmit">
    <h1 style="float:left; margin-left: 20% ; padding-bottom: 40px; color: rgb(0, 102, 255);">The Contribution of each
      Cytokine to this Result </h1>
    <app-diaroms [valuealpha]="tnfalphalevel" [valuepaf]="pafincrementlevel" [il10]="il10level" [ilb]="ilonebetalevel"
      [sip]="siplevel"></app-diaroms>
  </div>




</div>